<% content_for :title do %>About<% end %>
<h3>About the website</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, commodi iure sint nam facilis vel culpa nulla porro quisquam assumenda! Quibusdam sed nostrum repudiandae quidem est veniam ipsum laudantium magnam!</p>